.home {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	min-width: var(--big-container);
}

.top {
	margin-top: 15px;
	display: flex;
}

/* --------- CATEGORIES --------- */

