.button {
	position: relative;
	padding: 0 10px;
	display: flex;
	flex-wrap: nowrap;
	color: var(--icon-color);
	transition: color 0.3s ease;

	align-items: center;
	height: 100%;
}

.button:hover {
	color: #FC5808;
}

.icon {
	margin-right: 10px;
	display: inline-block;
	height: 18px;
	width: 18px;
}

.icon svg {
	fill: var(--icon-fill);
}


.badge {
	align-items: center;
	background-image: linear-gradient(180deg, #ffbc0b, #ff7400);
	border-radius: 20px;
	color: #fff;
	display: inline-flex;
	font-size: 12px;
	font-weight: bolder;
	height: 20px;
	justify-content: center;
	left: 20px;
	line-height: 20px;
	min-width: 20px;
	padding: 0 5px;
	position: absolute;
	text-align: center;
	top: -12px
}