.header {
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	width: 100%;
	min-height: 64px;
	background-color: var(--card-color);
	border: 1px solid var(--border-color);
	box-shadow: 0 1px 24px 0 rgb(0 0 0 / 14%);
	color: var(--color);
}

.container {
	display: flex;
	align-items: center;
	
}

/* TODO: -> var */
@media (min-width: 1200px) {
	.container {
		/* min-width: var(--big-container); */
		min-width: 1200px;
	}
}

@media (min-width: 992px) and (max-width: 1999px) {
	.container {
		width: 972px;
	}
}

.logo {
	display: block;
	height: 64px;
	width: 120px;
	flex-shrink: 0;
	background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='120' height='31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M31.295 15.084a7.529 7.529 0 0 0-2.22-5.358 7.529 7.529 0 0 0-5.358-2.22H7.507V22.662h16.21a7.53 7.53 0 0 0 5.359-2.22 7.527 7.527 0 0 0 2.219-5.357Zm7.507 0c0 8.33-6.754 15.084-15.085 15.084H0V0h23.717c8.331 0 15.085 6.753 15.085 15.084Zm78.444-.985a9.378 9.378 0 0 0-6.649-2.754v.012H90.639a1.936 1.936 0 0 1-1.934-1.934c0-1.066.867-1.934 1.934-1.934h23.655a3.736 3.736 0 1 0 0-7.472H90.639c-1.268 0-2.5.25-3.663.741a9.368 9.368 0 0 0-2.988 2.014 9.375 9.375 0 0 0-2.014 2.989 9.351 9.351 0 0 0-.741 3.662c0 1.268.25 2.5.741 3.662a9.366 9.366 0 0 0 2.014 2.989 9.374 9.374 0 0 0 6.651 2.755h19.958v-.012c1.065 0 1.931.866 1.931 1.93a1.933 1.933 0 0 1-1.931 1.932H84.969a3.736 3.736 0 1 0 0 7.472h25.628a9.376 9.376 0 0 0 6.649-2.754 9.37 9.37 0 0 0 2.013-2.988 9.336 9.336 0 0 0 .741-3.661 9.375 9.375 0 0 0-2.754-6.649ZM71.876 0h7.472v26.415a3.736 3.736 0 0 1-6.378 2.641l-24.917-18.01v19.122H40.58V3.753a3.736 3.736 0 0 1 6.378-2.641l24.917 18.01V0Z' fill='%23FC8507'/%3E%3C/svg%3E") no-repeat 0;
}

/* ----------------------------- */

.buttons {
	display: flex;
	font-size: 14px;
	padding: 18px 0;
	/* height: 64px; */
	align-items: center;
	margin-left: 15px;
}

.cart-btn-wrapper {
	height: 100%;
	cursor: default;
}

.cart-modal {
	animation: showCartModal .15s ease-in forwards;
	opacity: 0;
	transform-origin: top right;
	transition: top .5s ease 0s;
	position: absolute;
}

.hide-modal {
	animation: hideCartModal .15s ease-in forwards;
	opacity: 0;
	display: none;
}

@keyframes showCartModal {
	0% {
		opacity: 0
	}
	10% {
		opacity: 0;
		transform: scale(.8)
	}
	to {
		opacity: 1;
		transform: scale(1)
	}
}

@keyframes hideCartModal {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	to {
		opacity: 0;
		transform: scale(.8);
		
	}
}