@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;500;700&display=swap');

.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-menu {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 35px;
	border: 10px solid #97d9f7 ;
	width: 400px;
	height: 500px;
	background-color: #FFFEFD;
	box-shadow: 0 5px 0 rgb(117, 174, 200),
		inset 0 0 0 3px #78bce4d9,
		0 8px 1px 1px rgba(0, 0, 0, .3);
}

.game-menu::after {
	content: '';
	height: 5px;
	position: absolute;
	width: 20%;
	background: rgba(255, 255, 255, 0.7);
	left: 6%;
	top: -6px;
	border-radius: 2px;
}

.game-menu::before {
	content: '';
	height: 5px;
	position: absolute;
	width: 5px;
	background: rgba(255, 255, 255, 0.7);
	left: 4%;
	top: -5px;
	border-radius: 2px;
}

.close {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	height: 50px;
	width: 50px;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	outline: none;
	background-color: #4CA2C3;
	border-radius: 50%;
	border: 4px solid #e3faff;
	box-shadow: -1px 1px 3px 2px #5c98b4cc,
		inset 0 0 3px 3px #4d809d,
		inset 5px 5px 10px #166284;
}

.close:active {
	box-shadow: -1px 1px 3px 2px #5c98b4cc,
		inset 0 0 3px 3px #4d809d,
		inset 5px 5px 10px #09384d;
}

.close:active svg {
	width: 16px;
	height: 16px;
}

.close::after {
	content: '';
	height: 4px;
	position: absolute;
	width: 4px;
	background: #C3F4FF;
	left: 20%;
	top: 20%;
	border-radius: 2px;
	box-shadow: 0 0 2px 1px #fff;
}

.info-panel {
	padding: 10% 10%;
	width: 93%;
	height: 85%;
	/* background-color: #A0CDD3; */
	background: rgb(224, 251, 255);
	background: radial-gradient(circle, rgb(191, 241, 248) 0%, rgba(160, 205, 211, 1) 88%);
	border-radius: 20px;
	box-shadow: inset 0 0 3px 3px rgba(53, 107, 121, 0.3);
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.description {
	user-select: none;
	font-family: 'Lobster', sans-serif;
	font-size: 20px;
	color: white;
	text-shadow: 0 0 4px #054c75;
	text-align: justify;
	text-align-last: center;
}

.image {
	padding: 0;
	margin: 0;
	align-self: center;
}

.image img {
	box-shadow: 0 0 10px 3px #d7f2ffcc;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.game-button {
	position: relative;
	padding: 8px 15px 10px;
	margin: 8px 15px 10px;
	border-radius: 8px;
	color: #fff;
	cursor: pointer;
	outline: none !important;
	font-family: 'Lobster', sans-serif;
	font-size: 20px;
	line-height: 1.5em;
	letter-spacing: .05em;
	text-shadow: 2px 2px 1px #0066a2,
		-2px 2px 1px #0066a2,
		2px -2px 1px #0066a2,
		-2px -2px 1px #0066a2,
		0px 2px 1px #0066a2,
		0px -2px 1px #0066a2,
		0px 4px 1px #004a87,
		2px 4px 1px #004a87,
		-2px 4px 1px #004a87;
	border: none;
	background: repeating-linear-gradient(45deg, #3ebbf7, #3ebbf7 8px, #45b1f4 8px);
	border-bottom: 3px solid rgba(16, 91, 146, 0.5);
	border-top: 3px solid rgba(255, 255, 255, 0.3);
	
	box-shadow: 0 6px 0 #266b91,
		0 8px 1px 1px rgba(0, 0, 0, .3),
		0 10px 0 5px #12517d,
		0 12px 0 5px #1a6b9a,
		0 15px 0 5px #0c405e,
		0 15px 1px 6px rgba(0, 0, 0, .3);
}

.game-button:active {
	top: 2px;
	box-shadow: 0 4px 0 #266b91, 
		0 6px 1px 1px rgba(0, 0, 0, .3), 
		0 8px 0 5px #12517d, 
		0 10px 0 5px #1a6b9a, 
		0 13px 0 5px #0c405e, 
		0 13px 1px 6px rgba(0, 0, 0, .3);
}

.game-button::before {
	content: '';
	height: 10%;
	position: absolute;
	width: 40%;
	background: rgba(255, 255, 255, 0.7);
	right: 13%;
	top: 2%;
	border-radius: 99px;
}

.game-button::after {
	content: '';
	height: 10%;
	position: absolute;
	width: 5%;
	background: rgba(255, 255, 255, 0.7);
	right: 5%;
	top: 2%;
	border-radius: 99px;
}

.game-button.red {
	background: repeating-linear-gradient(45deg, #ff4f4c, #ff4f4c 10px, #ff4643 10px, #ff4643 10px);
	box-shadow: 0 6px 0 #ae2725, 
		0 8px 1px 1px rgba(0, 0, 0, .3), 
		0 10px 0 5px #831614, 
		0 12px 0 5px #a33634, 
		0 15px 0 5px #631716, 
		0 15px 1px 6px rgba(0, 0, 0, .3);
	border-bottom: 3px solid rgba(160, 25, 23, 0.5);
	text-shadow: 2px 2px 1px #d72d21, 
		-2px 2px 1px #d72d21, 
		2px -2px 1px #d72d21, 
		-2px -2px 1px #d72d21, 
		0px 2px 1px #d72d21, 
		0px -2px 1px #d72d21,
		0px 4px 1px #930704, 
		2px 4px 1px #930704, 
		-2px 4px 1px #930704;
}

.game-button.red:active {
	top: 2px;
	box-shadow: 0 4px 0 #ae2725, 
		0 6px 1px 1px rgba(0, 0, 0, .3), 
		0 8px 0 5px #831614, 
		0 10px 0 5px #a33634, 
		0 13px 0 5px #631716, 
		0 13px 1px 6px rgba(0, 0, 0, .3);
}